---
import Layout from "~/layouts/Layout.astro";

import { getCollection } from "astro:content";
import IssuesList from "~/components/IssuesList.astro";

const newsletterIssues = await getCollection("newsletter");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="">Node Zebra Weekly Issues</h1>
    <IssuesList issues={newsletterIssues} />
  </main>
</Layout>
