---
import BasePage from "~/layouts/BasePage.astro";
import Header from "~/components/Header.astro";

import IssueList from "~/components/IssueList/IssueList.astro";
import IssueCard from "~/components/IssueList/IssueCard.astro";
import IssueTitle from "~/components/IssueList/IssueTitle.astro";
import IssueNumber from "~/components/IssueList/IssueNumber.astro";
import IssueArrow from "~/components/IssueList/IssueArrow.astro";

import formatIssueNumber from "~/utils/formatIssueNumber";

import { getCollection } from "astro:content";

const allIssues = await getCollection("newsletter");

const issues = allIssues.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);

  return dateB.getTime() - dateA.getTime();
});
---

<BasePage
  slug="index"
  title="Node Zebra Newsletter – DEPT®"
  description="Node Zebra is our friendly bi-weekly newsletter with tech articles and tools"
  date={new Date()}
>
  <Header>
    <h1>Node Zebra</h1>
    <p>Our friendly bi-weekly newsletter featuring the latest tech articles and tools</p>
  </Header>

  <IssueList title="Latest issues">
    {
      issues.map((issue) => (
        <IssueCard href={`/newsletter/${issue.id}`}>
          <IssueNumber>{formatIssueNumber(issue.id)}</IssueNumber>
          <IssueTitle>{issue.data.tagline}</IssueTitle>
          <IssueArrow>→</IssueArrow>
        </IssueCard>
      ))
    }
  </IssueList>
</BasePage>
