---
import Layout from "~/layouts/Layout.astro";
import IssuesList from "~/components/IssuesList.astro";

import { getCollection } from "astro:content";

const newsletterIssues = await getCollection("newsletter");
---

<Layout title="Node Zebra Weekly Issues">
  <main>
    <h1 class="">Node Weekly Issues</h1>
    <IssuesList issues={newsletterIssues} />
  </main>
</Layout>
