<div class="header">
  <slot />
</div>

<style is:global>
  .header {
    grid-column: 2 / span 10;
    padding-top: 5rem;
    padding-bottom: 6rem;
  }

  @media (max-width: 768px) {
    .header {
      grid-column: 1 / span 12;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  }

  .header > h1 {
    letter-spacing: -0.045em;
    font-synthesis: none;
    font-size: max(3rem, min(4.883vw + 1.856rem, 6.25rem));
    line-height: 1.025;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
</style>
