---
import type { CollectionEntry } from "astro:content";

export interface Props {
  issues: CollectionEntry<"newsletter">[];
}

const { issues } = Astro.props;
---

<ul>
  {
    issues.map((issue) => (
      <li>
        <a href={`/newsletter/${issue.slug}`}>{issue.data.title}</a>:{" "}
        {issue.data.date}
      </li>
    ))
  }
</ul>
