<div class="prose">
  <slot />
</div>

<style is:global>
  .prose {
    grid-column: 4 / span 6;
    margin-bottom: 6rem;
  }

  @media (max-width: 768px) {
    .prose {
      grid-column: 1 / span 12;
      margin-bottom: 3rem;
    }
  }

  .prose > h2 {
    letter-spacing: -0.045em;
    font-synthesis: none;
    line-height: max(2.25rem, min(1.127vw + 1.986rem, 3rem));
    font-weight: 400;
  }

  .prose > p {
    margin-bottom: 0.75rem;
  }

  .prose > ul {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
  }
</style>
