---
import Layout from "~/layouts/Layout.astro";
import IssuesList from "~/components/IssuesList.astro";

import { getCollection, getEntryBySlug } from "astro:content";

export interface Props {
  slug: string;
}

// Get slug from the URL params, if not redirect to 404
const { slug } = Astro.params;

if (slug === undefined) {
  return Astro.redirect("/404");
}

// Get the newsletter issue by slug, if not redirect to 404
const entry = await getEntryBySlug("newsletter", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

// Get the last three issues, excluding the current issue
const newsletterIssues = await getCollection("newsletter");
const lastIssues = newsletterIssues
  .filter((entry) => entry.slug !== slug)
  .slice(-3);

// Render the markdown content
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} – Node Weekly `}>
  <h1>{entry.data.title}: {entry.data.date}</h1>

  <Content />

  <h2>Read more</h2>
  <IssuesList issues={lastIssues} />
</Layout>
