---
import Layout from "~/layouts/Layout.astro";
import IssuesList from "~/components/IssuesList.astro";

import { getCollection, CollectionEntry } from "astro:content";

export interface Props {
  entry: CollectionEntry<"newsletter">;
}

// Generate paths for all the issues in the newsletter collection
export async function getStaticPaths() {
  const newsletterIssues = await getCollection("newsletter");

  return newsletterIssues.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the last three issues, excluding the current issue
const newsletterIssues = await getCollection("newsletter");
const lastIssues = newsletterIssues
  .slice(0, 3)
  .filter((entry) => entry.slug !== Astro.props.entry.slug);

// Render the markdown content
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} – Node Weekly `}>
  <h1>{entry.data.title}: {entry.data.date}</h1>

  <Content />

  <h2>Read more</h2>
  <IssuesList issues={lastIssues} />
</Layout>
